

<div class="content">
  <div class="cards-container">
    <div class="bandeau" style="background-image: url('<%= asset_path "cover-accomodation.jpg" %>');">
      <!-- <p>bandeau</p> -->
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="text-center">
          <%= link_to 'Ajouter un hébergement', new_trip_accomodation_path, class: "btn btn-primary" %>
          <%= link_to 'Dashboard', trip_path(@trip), class: "btn btn-default" %>
        </div>
            <%@accomodations.each do |accomodation|  %>
              <%accomodation.stays.each do |stay| %>
              <div class="col-xs-12">
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <%if accomodation.kind == "hotel" %>
                      <td class="white-cell">

                          <%= image_tag "hotel copie.png", class: "icon" %>
                        </td>
                      <%elsif accomodation.kind == "habitant"  %>
                      <td class="white-cell"><%= image_tag "habitant-2.png", class: "icon" %></td>
                      <%elsif accomodation.kind == "b_b"  %>
                      <td class="white-cell"><%= image_tag "b-b.png", class: "icon" %></td>
                      <%elsif accomodation.kind == "auberge"  %>
                      <td class="white-cell"><%= image_tag "auberge.png", class: "icon" %></td>
                      <%else%>
                      <td class="white-cell"><%= image_tag "travel.png", class: "icon" %></td>
                      <%end  %>
                        <td><h3>Date de départ</h3></td>
                        <td><h3>Date d'arrivée</h3></td>
                      </tr>
                      <tr>
                        <td class="white-cell"></td>
                        <td class="white-bottom-border"><p> le <%= stay.start_date %></p></td>
                        <td class="white-bottom-border"><p> le <%= stay.end_date %></p></td>
                      </tr>
                      <tr>
                        <td class="white-cell"></td>
                        <td><h3>Nom de l'hébergement</h3></td>
                        <td><p><%=stay.accomodation.name %></p></td>
                      </tr>
                      <tr>
                        <td class="white-cell">
                          <%= link_to 'Editer', edit_trip_accomodation_path(@trip, stay.accomodation), class: "btn btn-primary" %>
                        </td>
                        <td><h3>Adresse</h3></td>
                        <td><p><%=stay.accomodation.address %></p></td>
                      </tr>
                      <tr>
                        <td class="white-cell"></td>
                        <td><h3>Numéro de téléphone</h3></td>
                        <td><p><%=stay.accomodation.phone_number %></p></td>
                      </tr>
                      <tr>
                        <td class="white-cell"><%= link_to 'Supprimer', trip_accomodation_path(@trip, stay.accomodation), method: :delete, data: { confirm: 'Êtes-vous sûr?' }, class: "btn btn-transport" %></td>
                        <td><h3>Numéro de réservation</h3></td>
                        <td><p>Thumnail ticket</p></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="text-center">
          <%= link_to 'Ajouter un hébergement', new_trip_accomodation_path, class: "btn btn-primary" %>
          <%= link_to 'Dashboard', trip_path(@trip), class: "btn btn-default" %>
        </div>
      </div>
    </div>
    <div class="map">
      <%= render 'shared/map', markers: @markers, path: @path, style: "width:100%; height:100vh" %>
    </div>
  </div>

</div>
