
<div class="content">
  <div class="cards-container">
    <div class="bandeau" style="background-image: url('<%= asset_path "cover-accomodation.jpg" %>');">
      <!-- <p>bandeau</p> -->
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="text-center">
          <%= link_to 'Ajouter un hébergement', new_trip_accomodation_path, class: "btn btn-primary" %>
        </div>
        <% @accomodations.each do |accomodation| %>
            <div class="col-xs-12">
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="white-cell"><%= image_tag "airplane-ticket.png"%></td>
                      <td><h3>Date de départ</h3></td>
                      <td><h3>Date d'arrivée</h3></td>
                    </tr>
                    <tr>
                      <td class="white-cell"></td>
                      <td class="white-bottom-border"><p><%# accomodation.stays.start_date %> le <%# travel.start_date %></p></td>
                      <td class="white-bottom-border"><p><%# travel.end_date_time %> le <%# travel.end_date %></p></td>
                    </tr>
                    <tr>
                      <td class="white-cell"></td>
                      <td><h3>Nom de l'hébergement</h3></td>
                      <td><p><%= accomodation.name %></p></td>
                    </tr>
                    <tr>
                      <td class="white-cell">
                        <%= link_to 'Editer', edit_trip_accomodation_path(@trip, accomodation), class: "btn btn-primary" %>
                      </td>
                      <td><h3>Adresse</h3></td>
                      <td><p><%= accomodation.address %></p></td>
                    </tr>
                    <tr>
                      <td class="white-cell"></td>
                      <td><h3>E-mail</h3></td>
                      <td><p><%= accomodation.e_mail %></p></td>
                    </tr>
                    <tr>
                      <td class="white-cell"></td>
                      <td><h3>Numéro de téléphone</h3></td>
                      <td><p><% accomodation.phone_number %></p></td>
                    </tr>
                    <tr>
                      <td class="white-cell"><%= link_to 'Supprimer', trip_accomodation_path(@trip, accomodation), method: :delete, data: { confirm: 'Êtes-vous sûr?' }, class: "btn btn-transport" %></td>
                      <td><h3>Numéro de réservation</h3></td>
                      <td><p>Thumnail ticket</p></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          <% end %>
        </div>
        <div class="text-center">
          <%= link_to 'Ajouter un hébergement', new_trip_accomodation_path, class: "btn btn-primary" %>
          <%= link_to 'Retour', trip_path(@trip), class: "btn btn-default" %>
        </div>
      </div>
    </div>

    <%= render 'shared/map_big' %>
  </div>

</div>
