<h1>Index of stays</h1>
<% @accomodations.each do |accomodation| %>
<p><%=accomodation.name%></p>
<p><%=accomodation.address%></p>
<%= link_to 'Show',  trip_accomodation_path(@trip, accomodation)%>
<%= link_to 'Destroy', trip_accomodation_path(@trip, accomodation), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
<%= link_to 'Edit', edit_trip_accomodation_path(@trip, accomodation), class: "btn btn-primary" %>
<%end  %>




<%= link_to 'Add a new accomodation and stay', new_trip_accomodation_path, class: "btn btn-primary" %>

<div class="map-container">
  <div
  id="map"
  style="width: 100%;
  height: 800px;"
  data-markers="<%= @markers.to_json %>"
  ></div>
</div>
