
<h2> Départ pour :</h2>
<p> @flag <p/>
<p> <%= @trip.destination %> </p>
<h2> Le :</h2>
<p> <%= @trip.start_date %></p>
<h2> Meteo</h2>
<p> <i class="fa fa-thermometer"><strong>Temperature = <%= @weather.temp %>°C</strong></i></p>
<p> <i class="fa fa-sun"><strong>Temperature max = <%= @weather.max_temp %>°C</strong></i></p>
<p><i class="fas fa-snowflake"><strong> Temperature min = <%= @weather.min_temp %>°C</strong></i></p>

  <h2> Information</h2>
  <% if @country_info.nil? %>
  <p> Désolée le pays n'existe pas.</p>
  <% else %>
  <p><strong> Capital : <%= @country_info.capital %></strong></p>
  <p><strong> Heure : <%= @country_info.timezones.first %></strong></p>
  <p><strong> Code téléphone : + <%= @country_info.callingCodes.first %></strong></p>
  <p><strong> Monnaie : <%= @country_info.currencies.first %></strong></p>
  <p><strong> Langue : <%= @country_info.languages.first %></strong></p>
  <% end %>
  <h2> Vaccins</h2>
  <% if @vaccination.nil? %>
  <p> Aucun vaccin nécessaire</p>
  <% else %>
  <p> <%= @vaccination.first %></p>
  <% end %>
