<div class="card two-card-container">
  <div class="row">
    <div class="col-xs-12">
      <div class="show-trip-info-picture" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('<%= image_path choose_country_img(@trip.destination.downcase) %>');">
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <h2> Départ pour : &nbsp;<%= @trip.destination.capitalize %></h2>
    </div>
    <div class="col-xs-6">
      <h2> le <%= @trip.start_date %></h2>
  </div>
</div>
<!-- title -->

  <div class="row">
    <div class="col-xs-6">

      <h2> <i> <%= image_tag "information.png", class: "icon-titre" %> </i>&nbsp; Information </h2>

      <% if @country_info.nil? %>
      <h4> Désolée le pays n'existe pas. </h4>
      <% else %>
      <h4><i><%= image_tag "capitale.png", class: "icon-info" %></i>   <%=  @country_info.capital %></h4>
      <h4><i><%= image_tag "heure.png", class: "icon-info" %></i>   <%=  @country_info.timezones.first %></h4>
      <h4><i><%= image_tag "code-telephone.png", class: "icon-info" %></i>   + <%=  @country_info.callingCodes.first %></h4>
      <h4><i><%= image_tag "monnaie.png", class: "icon-info" %></i>   <%=  @country_info.currencies.first %></h4>
      <h4><i><%= image_tag "langue-1.png", class: "icon-info" %></i>   <%=  @country_info.languages.first %> </h4>
      <% end %>
    </div>


    <div class="col-xs-6">

      <h2> <i> <%= image_tag "meteo.png", class: "icon-titre" %> </i> &nbsp; Meteo </h2>
      <h4> <i><%= image_tag "temperature.png", class: "icon-info" %></i>   <%=  @weather.temp %> °C </h4>
      <h4> <i><%= image_tag "temperature-max_2.png", class: "icon-info" %></i>   <%=  @weather.max_temp %> °C </h4>
      <h4><i><%= image_tag "temperature-mini-2.png", class: "icon-info" %></i>   <%= @weather.min_temp %> °C </h4>

    </div>
  </div> <!-- row 1 card 1 -->

  <div class="row">
    <div class="col-xs-6">
      <h2> <i><%= image_tag "vaccins.png", class: "icon-titre" %></i> &nbsp;Vaccins</h2>
      <% if @vaccination.nil? || @vaccination.first.nil? %>
        <h4>Aucun vaccin nécessaire</h4>
      <% else %>
        <h4><%= @vaccination.first %></h4>
      <% end %>
    </div>
  </div> <!-- row 2 card 1 -->
</div> <!-- card 1 -->
