<div class="card two-card-container">
  <div class="row">
    <div class="col-xs-6">
      <p> Départ pour :</p>
      <h2><%= @trip.destination %> </h2>
      <p> <%#= @flag %></p>
    </div>

    <div class="col-xs-6">
      <p> Le :</p>
      <h2> <%= @trip.start_date %></h2>
    </div>
  </div> <!-- title -->

  <div class="row">
    <div class="col-xs-6">
      <h2> Information</h2>
      <% if @country_info.nil? %>
      <p> Désolée le pays n'existe pas.</p>
      <% else %>
      <p>Capital : <strong><%= @country_info.capital %></strong></p>
      <p>Heure :<strong> <%= @country_info.timezones.first %></strong></p>
      <p>Code téléphone :<strong>+ <%= @country_info.callingCodes.first %></strong></p>
      <p>Monnaie :<strong><%= @country_info.currencies.first %></strong></p>
      <p>Langue :<strong><%= @country_info.languages.first %></strong></p>
      <% end %>
    </div>

    <div class="col-xs-6">
      <h2> Meteo</h2>
      <p> <i class="fa fa-thermometer"></i> Temperature = <strong><%= @weather.temp %>°C</strong></p>
      <p> <i class="fa fa-sun"></i>Temperature max = <strong><%= @weather.max_temp %>°C</strong></p>
      <p><i class="fas fa-snowflake"></i>Temperature min = <strong><%= @weather.min_temp %>°C</strong></p>
    </div>
  </div> <!-- row 1 card 1 -->

  <div class="row">
    <div class="col-xs-6">
      <h2>Vaccins</h2>
      <% if @vaccination.nil? || @vaccination.first.nil? %>
        <p>Aucun vaccin nécessaire</p>
      <% else %>
        <p><%= @vaccination.first %></p>
      <% end %>
    </div>
  </div> <!-- row 2 card 1 -->
</div> <!-- card 1 -->
