<div class="col-xs-12">
  <ul class="timeline">
    <% if !@date_order.empty? %>
      <% @start_date = @date_order.first.start_date %>
    <%end %>

    <% @date_order.each_with_index do |item, index| %>
      <% if index.even? %>
        <% if item.class == Stay %>
          <li>
            <% if item.start_date < Time.now %>
              <div class="timeline-badge-past">
                <i class="fa fa-map-marker"></i>
              </div>
            <% else  %>
              <div class="timeline-badge">
                <i class="fa fa-map-marker"></i>
              </div>
            <% end %>

            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Hebergement</h4>
                <p>Jour: <%=(item.start_date - @start_date).to_i%></p>
              </div>
              <div class="timeline-body">
                <p><%= item.accomodation.name %></p>
                <p><%= item.accomodation.phone_number %></p>
                <p><%= item.start_date %></p>
                <p><%= item.end_date %></p>
              </div>
            </div>
          </li>
        <% else %>
          <li>
            <% if item.start_date < Time.now %>
              <div class="timeline-badge-past">
                <i class="fa fa-map-marker"></i>
              </div>
            <% else %>
              <div class="timeline-badge">
                <i class="fa fa-map-marker"></i>
              </div>
            <% end %>

            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Transport</h4>
                <p>Jour: <%= (item.start_date - @start_date).to_i %></p>
              </div>
              <div class="timeline-body">
                <p><%= item.compagny_name %></p>
                <p><%= item.address_in %></p>
                <p><%= item.start_date %></p>
                <p><%= item.address_out %></p>
                <p><%= item.end_date %></p>
              </div>
            </div>
          </li>
        <% end %>
      <% else %>
        <% if item.class == Stay %>
          <li class="timeline-inverted">
            <% if item.start_date < Time.now %>
              <div class="timeline-badge-past">
                <i class="fa fa-map-marker"></i>
              </div>
            <% else %>
              <div class="timeline-badge">
                <i class="fa fa-map-marker"></i>
              </div>
            <% end %>

            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Hebergement</h4>
                <p>Jour: <%= (item.start_date - @start_date).to_i %></p>
              </div>
              <div class="timeline-body">
                <p><%= item.accomodation.name %></p>
                <p><%= item.accomodation.phone_number %></p>
                <p><%= item.start_date %></p>
                <p><%= item.end_date %></p>
              </div>
            </div>
          </li>
        <% else  %>
          <li class="timeline-inverted">
            <% if item.start_date < Time.now %>
              <div class="timeline-badge-past">
                <i class="fa fa-map-marker"></i>
              </div>
            <% else  %>
              <div class="timeline-badge">
                <i class="fa fa-map-marker"></i>
              </div>
            <% end %>

            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Transport</h4>
                <p>Jour: <%=(item.start_date - @start_date).to_i%></p>
              </div>
              <div class="timeline-body">
                <p><%=item.compagny_name%></p>
                <p><%=item.address_in%></p>
                <p><%=item.start_date%></p>
                <p><%=item.address_out%></p>
                <p><%=item.end_date%></p>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
    <%end %>
  </ul>
</div>
