<ul class="timeline">
  <%if @date_order != [] %>
    <%@start_date = @date_order.first.start_date %>
  <%end %>
  <% @date_order.each_with_index do |item, index|%>
  <%if index.even? %>
    <% if item.class == Stay %>
      <li>
        <%if item.start_date < Date.today %>
          <div class="timeline-badge-past">
            <i class="fa fa-map-marker"></i>
          </div>
        <%elsif item.start_date == Date.today %>
          <div class="timeline-badge-now">
            <i class="fa fa-map-marker"></i>
          </div>
        <%else %>
          <div class="timeline-badge">
            <i class="fa fa-map-marker"></i>
          </div>
        <% end %>
        <%stay = item.accomodation  %>
       <%   pry-byebug %>
            <%= link_to trip_accomodation_path(@trip, stay) do %>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <i><%= image_tag "hotel copie.png", class: "icon-timeline" %></i>
          <%end  %>
          </div>
              <p>Jour: <%=(item.start_date - @start_date).to_i%></p>
          <div class="timeline-body">
            <h4><%=item.accomodation.name%></h4>
            <p><%= l item.start_date, format: :default_heure unless item.start_date.nil?%></p>
          </div>
        </div>
      </li>
    <%elsif item.class == Travel %>
      <li >
        <%if item.start_date < Date.today %>
          <div class="timeline-badge-past">
            <i class="fa fa-map-marker"></i>
          </div>
        <%elsif item.start_date == Date.today %>
          <div class="timeline-badge-now">
            <i class="fa fa-map-marker"></i>
          </div>
        <%else %>
          <div class="timeline-badge">
            <i class="fa fa-map-marker"></i>
          </div>
        <% end %>
          <%travel = item  %>
          <%= link_to trip_travel_path(@trip, travel) do%>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <i><%= image_tag "travel.png", class: "icon-timeline"  %></i>
              <%end  %>
              </div>
              <p>Jour: <%=(item.start_date - @start_date).to_i%></p>
            <div class="timeline-body">
              <h4><%=item.compagny_name%></h4>
              <p><%= l item.start_date, format: :default_heure unless item.start_date.nil?%></p>
              <%travel = item  %>
            </div>
          </div>
      </li>
    <%else%>
      <li >
        <%if item.start_date < Date.today %>
          <div class="timeline-badge-past">
            <i class="fa fa-map-marker"></i>
          </div>
        <%elsif item.start_date == Date.today %>
          <div class="timeline-badge-now">
            <i class="fa fa-map-marker"></i>
          </div>
        <%else %>
          <div class="timeline-badge">
            <i class="fa fa-map-marker"></i>
          </div>
        <% end %>
        <%diary_other = item %>
        <%= link_to trip_diary_path(@trip, diary_other) do %>
          <div class="timeline-panel">
            <div class="timeline-heading">
                <i><%= image_tag "note-2.png", class: "icon-timeline" %></i>
        <%end  %>
          </div>
           <p>Jour: <%=(item.start_date - @start_date).to_i%></p>
            <div class="timeline-body">
              <h4><%=item.title%></h4>
            </div>
          </div>
        <%end %>
      </li>
    <%else %>
      <% if item.class == Stay %>
      <li class="timeline-inverted">
        <%if item.start_date < Date.today %>
          <div class="timeline-badge-past">
            <i class="fa fa-map-marker"></i>
          </div>
        <%elsif item.start_date == Date.today %>
          <div class="timeline-badge-now">
            <i class="fa fa-map-marker"></i>
          </div>
        <%else %>
          <div class="timeline-badge">
            <i class="fa fa-map-marker"></i>
          </div>
        <% end %>
        <%stay = item.accomodation  %>
            <%= link_to trip_accomodation_path(@trip, stay) do %>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <i><%= image_tag "hotel copie.png", class: "icon-timeline" %></i>
          <%end  %>
          </div>
            <p>Jour: <%=(item.start_date - @start_date).to_i%></p>
          <div class="timeline-body">
            <h4><%=item.accomodation.name%></h4>
            <p><%= l item.start_date, format: :default_heure unless item.start_date.nil?%></p>
          </div>
        </div>
      </li>
        <%elsif item.class == Travel %>
          <li class="timeline-inverted">
            <%if item.start_date < Date.today %>
              <div class="timeline-badge-past">
                <i class="fa fa-map-marker"></i>
              </div>
            <%elsif item.start_date == Date.today %>
              <div class="timeline-badge-now">
                <i class="fa fa-map-marker"></i>
              </div>
            <%else %>
              <div class="timeline-badge">
                <i class="fa fa-map-marker"></i>
              </div>
            <% end %>
            <%travel_other = item %>
              <%= link_to trip_travel_path(@trip, travel_other) do %>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <i ><%= image_tag "travel.png", class: "icon-timeline" %></i>
            <%end  %>
              </div>
              <p>Jour: <%=(item.start_date - @start_date).to_i%></p>
            <div class="timeline-body">
              <h4><%=item.compagny_name%></h4>
              <p><%= l item.start_date, format: :default_heure unless item.start_date.nil?%></p>
          </div>
      </li>
  <%else%>
  <li class="timeline-inverted">
    <%if item.start_date < Date.today %>
    <div class="timeline-badge-past">
      <i class="fa fa-map-marker"></i>
    </div>
    <%elsif item.start_date == Date.today %>
    <div class="timeline-badge-now">
      <i class="fa fa-map-marker"></i>
    </div>
    <%else %>
    <div class="timeline-badge">
      <i class="fa fa-map-marker"></i>
    </div>
    <% end %>
    <%diary_other = item %>
    <%= link_to trip_diary_path(@trip, diary_other) do %>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <i><%= image_tag "note-2.png", class: "icon-timeline" %></i>
      <%end  %>
      </div>
      <p>Jour: <%=(item.start_date - @start_date).to_i%></p>
      <div class="timeline-body">
        <h4><%=item.title%></h4>
      </div>
    </div>
    <%end %>
  </li >
  <%end %>
  <%end %>
</ul>
