<div class="container">
  <div class="row">
    <%@trips.each do |trip| %>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="card card-trip">
        <div class="row">
          <div class="col-xs-12">
              <div class="card-picture" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.6)), url('<%= image_path choose_country_img(trip.destination.downcase) %>');"></div>
            </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="trip-index-card-content">
              <div class="col-xs-12">
                <div class="trip-title text-center">
                  <h2 style="color:white"><%= trip.title.titleize.truncate_words(4) %></h2>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="trip-destination text-center">
                    <h1><%=trip.destination.truncate_words(1).capitalize %></h1>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="trip-date text-center">
                    <p>Du <%=trip.start_date %> au <%=trip.end_date %></p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="trip-btn text-center">
                    <%= link_to 'Voir',  trip_path(trip), class: "btn btn-default"%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="card card-trip">
        <div class="row">
          <div class="col-xs-12">
            <div class="trip-btn-new text-center" style="margin-top: 45%;">
              <%# link_to 'Ajouter un voyage', new_trip_path, class: "btn btn-primary" %>
              <%= link_to '  + ', new_trip_path, class: "btn btn-plus" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
