<%= render "top-nav-trip-show" %>


<div class="trip-container">
  <div class="left">
    <div class="container-fluid">
      <%= render "country-info" %>

      <div class="card two-card-container timeline-padding">
        <div class="row">
          <div class= "col-xs-12">
            <%= render "timeline" %>

          </div>
        </div> <!-- card 2 -->
      </div> <!-- card 2 row -->

      <div class="card two-card-container">
        <div class="row">
          <div class= "col-xs-12">
            <%= render "tasks", tasks: @trip.tasks, trip: @trip %>
          </div>
        </div>
      </div>
    </div> <!-- container fluid -->
    <div class="text-center">
      <%= link_to 'Supprimer', trip_path(@trip), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-transport" %>
      <%= link_to 'Editer', edit_trip_path(@trip), class: "btn btn-primary" %>
      <%= link_to 'Retour', trips_path, class: "btn btn-default" %>
    </div>
  </div> <!-- left -->

  <div class="right">
      <%= render "shared/map",
            markers: @markers,
            path: @path,
            style: "width:100%; height:100%" %>
  </div>
</div> <!-- trip container -->



