
<h1><%=@trip.title%></h1>

  <div class="wrapper">
    <nav id="sidebar">
      <ul class="list-unstyled components">
            <li>
              <% if @travels.empty? %>
                <%= link_to new_trip_travel_path(@trip) do %>
                  <i class="fa fa-plane"></i>
                <% end %>
              <% else %>
                <%= link_to trip_travels_path(@trip) do %>
                  <i class="fa fa-plane"></i>
                <% end %>
              <% end %>

            </li>
            <li>
              <% if @accomodations.empty? %>
                <%= link_to new_trip_accomodation_path(@trip) do %>
                  <i class="fa fa-home"></i>
                <% end %>
              <% else %>
                <%= link_to trip_accomodations_path(@trip) do %>
                   <i class="fa fa-home"></i>
                  <% end %>
              <% end %>
            </li>
            <li>
              <% if @diaries.empty? %>
                <%= link_to new_trip_diary_path(@trip) do %>
                  <i class="fa fa-book"></i>
              <% end %>
              <% else %>
              <%= link_to trip_diaries_path(@trip) do %>
                  <i class="fa fa-book"></i>
                  <% end %>
              <% end %>
            </li>
      </ul>
    </nav>
  </div>
    <div class="container">
      <div class= "row">
        <div class= "col-xs-6">
          <div class="card two-card-container">
            <div class="two-card-title">
                 <h2> Départ pour :</h2>
                  <p> <%#= @trip.destination %> </p>
                  <h2> Le :</h2>
                  <p> <%#= @trip.start_date %></p>
                  <h2> Information</h2>
                  <p><strong> Capital : <%#= @country_info.capital %></strong></p>
                  <p><strong> Heure : <%#= @country_info.timezones %></strong></p>
                  <p><strong> Code téléphone : <%#= @country_info.callingCodes %></strong></p>
                  <p><strong> Monnaie : <%#= @country_info.currencies %></strong></p>
                  <p><strong> Langue : <%#= @country_info.languages %></strong></p>
            </div>
          </div>
        </div>
        <div class= "col-xs-6">
          <div class="card two-card-container">
            <div class="two-card-title">
              <div class="row">
              <h1> Liste </h1>
               <%= render "tasks" %>
               </div>
            </div>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="card">
          <ul class="timeline">
            <li>
              <div class="timeline-badge">
                <i class="fa fa-map-marker"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Jour 1 </h4>
                </div>
                <div class="timeline-body">
                  <p>Hotel Name : du  au  </p>
                  <p> Telephone </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge">
                <i class="fa fa-map-marker"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Jour 2</h4>
                </div>
                <div class="timeline-body">
                  <p>Hotel Name : du .. au .. </p>
                  <p> Telephone </p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge">
                <i class="fa fa-map-marker"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Jour 3</h4>
                </div>
                <div class="timeline-body">
                  <p>Hotel Name : du .. au .. </p>
                  <p> Telephone </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">25 Juillet 2018</h4>
                </div>
                <div class="timeline-body">
                  <p> Départ pour Cassis </p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge">
                <i class="fa fa-map-marker"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Jour 4</h4>
                </div>
                <div class="timeline-body">
                  <p>Hotel Name : du .. au .. </p>
                  <p> Telephone </p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">1 er Aout</h4>
                </div>
                <div class="timeline-body">
                  <p>Let's go Bandol  </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge">
                <i class="fa fa-map-marker"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Jour 10</h4>
                </div>
                <div class="timeline-body">
                  <p>Retour pour Paris sous la pluie </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-6">
        <!-- <div class="card"> -->
          <%= render "maps_directions" %>
        <!-- </div> -->
      </div>
    </div>
</div>


<div class="text-center">
<%= link_to 'Supprimer', trip_path(@trip), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-transport" %>
<%= link_to 'Editer', edit_trip_path(@trip), class: "btn btn-primary" %>
<%= link_to 'Retour', trips_path, class: "btn btn-default" %>
</div>
