<%= render "top-nav-trip-show" %>

<div class="container">
  <div class= "row">
    <div class= "col-xs-6">
      <div class="card two-card-container">
        <div class="two-card-title">
          <%= render "country-info" %>
        </div>
      </div>
    </div>
    <div class= "col-xs-6">
      <div class="card two-card-container">
        <div class="two-card-title">
          <div class="list-to-ckeck">
            <h1> Checklist </h1>
              <%= render "tasks", tasks: @trip.tasks, trip: @trip %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <div class="card">
      <%= render "timeline" %>
    </div>
  </div>
  <div class="col-xs-6">
    <%= render "shared/map",
    markers: @markers,
    path: @path,
    style: "width:100%; height:600px" %>
  </div>
</div>
</div>

<div class="text-center">
<%= link_to 'Supprimer', trip_path(@trip), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-transport" %>
<%= link_to 'Editer', edit_trip_path(@trip), class: "btn btn-primary" %>
<%= link_to 'Retour', trips_path, class: "btn btn-default" %>
</div>


