
  <%= simple_form_for [@trip, @travel] do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs form-color">
      <%= f.input :reservation_number, placeholder: 'Votre numéro de réservation', input_html: { class: 'my-input' }, label_html: { class: 'my-label' } %>
      <%= f.input :compagny_name, placeholder: 'RyanAir, Air France', input_html: { class: 'my-input' }, label_html: { class: 'my-label' } %>
      <%= f.input :start_date, placeholder: 'Date', input_html: { class: 'my-input' }, label_html: { class: 'my-label' },
            html5: true  %>
      <%= f.input :end_date, placeholder: 'Date', input_html: { class: 'my-input' }, label_html: { class: 'my-label' },
            html5: true %>
      <%= f.input :address_in, placeholder: '167 rue Paradis, Marseille', input_html: { class: 'my-input' }, label_html: { class: 'my-label' } %>
      <%= f.input :address_out, placeholder: '167 rue Paradis, Marseille', input_html: { class: 'my-input' }, label_html: { class: 'my-label' } %>
      <%= f.input :mode, placeholder: 'Hotel, Camping', input_html: { class: 'my-input' }, label_html: { class: 'my-label' } %>
      <%= f.input :ticket_file, placeholder: 'Date', input_html: { class: 'my-input' }, label_html: { class: 'my-label' } %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Créer mon transport", class: "btn btn-primary"%>
    </div>
  <% end %>



