
<div class="content">
  <div class="cards-container">
    <div class="bandeau" style="background-image: url('<%= asset_path "cover-travels.jpg" %>');">
      <!-- <p>bandeau</p> -->
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="text-center">
          <%= link_to 'Ajouter un transport', new_trip_travel_path, class: "btn btn-primary" %>
        </div>
        <% @travels.each do |travel| %>
            <div class="col-xs-12">
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <td class="white-cell"></td>
                      <td><h3>Lieux de départ</h3></td>
                      <td><h3>Lieux d'arrivée</h3></td>
                    </tr>
                    <tr>
                      <td class="white-cell"><%= image_tag "airplane-ticket.png"%></td>
                      <td class="white-bottom-border"><p><%= travel.address_in %></p></td>
                      <td class="white-bottom-border"><p><%= travel.address_out %></p></td>
                    </tr>
                    <tr>
                      <td class="white-cell"></td>
                      <td><h3>Date et heure de départ</h3></td>
                      <td><h3>Date et heure d'arrivée</h3></td>
                    </tr>
                    <tr>
                      <td class="white-cell"></td>
                      <td class="white-bottom-border"><p><%= travel.start_date_time %> le <%= travel.start_date %></p></td>
                      <td class="white-bottom-border"><p><%= travel.end_date_time %> le <%= travel.end_date %></p></td>
                    </tr>
                    <tr>
                      <td class="white-cell">
                        <%= link_to 'Editer', edit_trip_travel_path(@trip, travel), class: "btn btn-primary" %>
                      </td>
                      <td><h3>Compagnie</h3></td>
                      <td><p><%= travel.compagny_name %></p></td>
                    </tr>
                    <tr>
                      <td class="white-cell"></td>
                      <td><h3>Numéro de réservation</h3></td>
                      <td><p><%= travel.reservation_number %></p></td>
                    </tr>
                    <tr>
                      <td class="white-cell"><%= link_to 'Supprimer', trip_travel_path(@trip, travel), method: :delete, data: { confirm: 'Êtes-vous sûr?' }, class: "btn btn-transport" %></td>
                      <td><h3>Ticket</h3></td>
                      <td><p>Thumnail ticket</p></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          <% end %>
        </div>
        <div class="text-center">
          <%= link_to 'Ajouter un transport', new_trip_travel_path, class: "btn btn-primary" %>
          <%= link_to 'Retour', trips_path, class: "btn btn-default" %>
        </div>
      </div>
    </div>

    <div id="map"></div>
  </div>

</div>


<script>
  function initMap() {
    // Create a map object and specify the DOM element for display.
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 52.5206, lng: 13.4098},
      scrollwheel: false,
      zoom: 8
    });
  }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzER7O10ZOUp7FloJzMe2r8X1GIQhgt7Q&callback=initMap">
</script>

