<div class="col-md-6 col-md-offset-3">
  <% Task.all.each do |task| %>
  <div class="index-wrapper">
    <% if task.done == true %>
    <div class="row item">
      <div class="col-md-8">
        <h2 style="opacity: 0.5;" class="item-title"><strike><%=link_to task.title, trip_task_path(@trip, task) %></strike></h2>
        <p style="opacity: 0.5;" class="item-sub-title item-desc"><strike><%= task.description %><strike></p>
        <!-- <p style="opacity: 0.5;" class="time-created-at item-sub-title">Completed <%#= time_ago_in_words(task.completed_at) %> ago</p> -->
      </div>
      <div class="col-md-2">
        <p><%= link_to complete_trip_task_path(@trip,task), method: :patch do %></p>
        <i class="fa fa-check fa-lg"></i>
        <% end %>
      </div>
      <div class="col-md-2">
        <p><%= link_to trip_task_path(@trip, task), method: :delete, data: { confirm: "Are you sure?" } do %></p>
        <i class="fa fa-trash fa-lg"></i>
        <% end %>
      </div>
    </div>
    <% else %>
    <div class="row item">
      <div class="col-md-8">
        <h2 class="item-title"><%=link_to task.title, trip_task_path(@trip, task) %></h2>
        <p class="item-sub-title item-desc"><%= task.description %></p>
       <!--  <p style="opacity: 0.5;" class="time-created-at item-sub-title">Created <%#= time_ago_in_words(task.created_at) %> ago</p> -->
      </div>
      <div class="col-md-2">
        <p><%= link_to complete_trip_task_path(@trip,task), method: :patch do %></p>
        <i class="fa fa-check fa-lg"></i>
        <% end %>
      </div>
      <div class="col-md-2">
        <p><%= link_to trip_task_path(@trip, task), method: :delete, data: { confirm: "Are you sure?" } do %></p>
        <i class="fa fa-trash fa-lg"></i>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>

  <% end %>
</div>

  <%= link_to 'Add a new task', new_trip_task_path, class: "btn btn-primary" %>








