<%= simple_form_for [@trip, @stay] do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs form-color">
      <%= f.input :start_date, placeholder: 'Title of your diary', input_html: { class: 'my-input' }, label_html: { class: 'my-label' } %>
      <%= f.input :end_date, placeholder: 'RyanAir, Orange', input_html: { class: 'my-input' }, label_html: { class: 'my-label' } %>
      <%= f.input :reservation_number, placeholder: 'Date', input_html: { class: 'my-input' }, label_html: { class: 'my-label' } %>
     <%= f.simple_fields_for :accomodation do |p| %>
      <%= p.input :address, placeholder: 'Address', input_html: { class: 'my-input' }, label_html: { class: 'my-label' } %>
      <%= p.input :name, placeholder: 'Name', input_html: { class: 'my-input' }, label_html: { class: 'my-label' } %>
      <%= p.input :e_mail, placeholder: 'email@email.com', input_html: { class: 'my-input' }, label_html: { class: 'my-label' } %>
      <%= p.input :phone_number, placeholder: 'phone number', input_html: { class: 'my-input' }, label_html: { class: 'my-label' } %>
      <%= p.input :kind, placeholder: 'kind', input_html: { class: 'my-input' }, label_html: { class: 'my-label' } %>
    </div>
    <%  %>
    <div class="form-actions btn-medium my-button">
      <%= p.button :submit %>
    </div>

    <% end %>
  <% end %>

