

  <%= simple_form_for [@trip, @diary] do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs form-color">
      <%= f.input :title, label: 'Titre', placeholder: 'Que faire à Porto', input_html: { class: 'my-input' }, label_html: { class: 'my-label' } %>
      <%= f.input :description, label: 'Description', placeholder: 'Marché de Porto le samedi matin', input_html: { class: 'my-input' }, label_html: { class: 'my-label' } %>
      <%= f.input :start_date, placeholder: 'Date', input_html: { class: 'my-input' }, label_html: { class: 'my-label'}, html5: true%>
      <div class="form-actions">
          <%= f.button :submit, "Créer ma note", class: "btn btn-primary"%>
      </div>

    </div>
  <% end %>



