<h1>Diary Index</h1>
<%@diaries.each do |diary| %>
<p><%=diary.title %></p>
<p><%=diary.description%></p>
<p><%=diary.address %></p>
<p><%=diary.date %></p>
<%= link_to 'Show',  trip_diary_path(@trip, diary)%>
<%end  %>
<%= link_to 'Add a new diary', new_trip_diary_path, class: "btn btn-primary" %>
